<ul>
  <li><%= link_to "products", products_path %></li>
  <li><%= link_to "new product", new_product_path %></li>
  <li><%= link_to "about", static_pages_about_path %></li>
  <li><%= link_to "contact", static_pages_contact_path %></li>
  <li><%= link_to "index", static_pages_index_path %></li>
  <li><%= link_to "orders", orders_path %></li>
  <li><%= link_to "root", root_path %></li>
</ul>
