
<p id="notice"><%= notice %></p>

<div class="col-sm-6 col-md-4 col-lg-12">
<div class="thumbnail">
<img src="<%= @product.image_url %>" alt="#">
</div>



<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @product.price / 100.0 %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>



<p>
  <strong>Color:</strong>
  <%= @product.color %>
</p>

<%= form_tag "/payments/create" do %>
  <%= render partial: "shared/stripe_checkout_button" %>
<% end %>

<p>Average Rating: <div class="rated" data-score="<%= @product.average_rating %>"></div> </p>

<%= render 'new_comment' %>
<%= render "comments" %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
</div>
