
<p id="notice"><%= notice %></p>

<div class="col-sm-6 col-md-4 col-lg-12">
<div class="thumbnail">
<img src="<%= @product.image_url %>" alt="#">
</div>



<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>



<p>
  <strong>Color:</strong>
  <%= @product.color %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
</div>
