<!DOCTYPE html>
<html>
<head>
  <title>Railtest</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="page-wrap">
  <nav>
    <ul class="nav nav-pills">
      <li role="presentation" class="active"><%= link_to "the mug shop.", static_pages_index_path %></li>
      <li role="presentation"><%= link_to "shop", products_path %></li>
      <li role="presentation"><%= link_to "about", static_pages_about_path %></li>
      <li role="presentation"><%= link_to "contact", static_pages_contact_path %></li>


    <li class="nav pull-right">
    <% if user_signed_in? %>
      <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
    <% else %>
      <%= link_to('Login', new_user_session_path) %>
    <% end %>
    </li>
  </ul>
  </nav>
  <br/>

  <% if notice %>
    <p id="notice" class="alert alert-info"><%= notice %></p>
<% end %>
<% if alert %>
  <p id="alert" class="alert alert-danger"><%= alert %></p>
<% end %>




<%= yield %>
</div><!--page-wrap-->
<footer class="footer">
  <section>
  <div class="container">
  
</div>
</section>
</footer>

</body>


</html>
